<div class="height-full" layout="column">
  <h3 class="mat-dialog-title">Ежедневный остаток</h3>
  <mat-tab-group mat-stretch-tabs flex="grow">
    <mat-tab label="График">
      <app-chart></app-chart>
    </mat-tab>
    <mat-tab label="Таблица">
      <div class="pad-top-sm height-full" layout="column" layout-align="center stretch">
        <div flex>
          <table class="table table-bordered">
            <thead>
            <tr>
              <th>Счет</th>
              <th>Остаток на счету</th>
              <th>Общий остаток</th>
              <th>Дата</th>
            </tr>
            </thead>
            <tbody>
            <ng-container *ngFor="let row of tableData">
              <tr *ngFor="let account of row.rows; let first=first">
                <td>{{account.name}}</td>
                <td class="text-right">{{account.balance}} <b>&#8381;</b></td>
                <td [attr.rowspan]="row.rows.length" *ngIf="first" class="text-right">
                  <div class="media-middle">
                    {{row.total}} <b>&#8381;</b>
                  </div>
                </td>
                <td [attr.rowspan]="row.rows.length" *ngIf="first" class="text-center ">{{row.date | date: 'dd.MM.yyyy'}}</td>
              </tr>
            </ng-container>
            </tbody>
          </table>
        </div>
        <mat-paginator [pageSizeOptions]="[5, 10, 15]" showFirstLastButtons></mat-paginator>
      </div>
    </mat-tab>
  </mat-tab-group>
</div>
