<h3 class="mat-dialog-title">Ежедневный остаток</h3>
<!--<table mat-table [dataSource]="dailyBalanceDataTable" class="width-full">
  <ng-container matColumnDef="rows">
    <th mat-header-cell *matHeaderCellDef>Счет</th>
    <td mat-cell *matCellDef="let element">
      <div *ngFor="let row of element.rows; let i = index; let last = last">
        {{row.name}} - <span>{{row.balance}}</span>

        <mat-divider *ngIf="!last"></mat-divider>
      </div>
    </td>
  </ng-container>
  <ng-container matColumnDef="total">
    <th mat-header-cell *matHeaderCellDef>Общий остаток</th>
    <td mat-cell *matCellDef="let element">{{element.total}}</td>
  </ng-container>
  <ng-container matColumnDef="date">
    <th mat-header-cell *matHeaderCellDef>Дата</th>
    <td mat-cell *matCellDef="let element">{{element.date | date: 'dd.MM.yyyy'}}</td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>-->
<table class="table table-bordered">
  <thead>
  <tr>
    <th>Счет</th>
    <th>Остаток на счету</th>
    <th>Общий остаток</th>
    <th>Дата</th>
  </tr>
  </thead>
  <tbody>
  <ng-container *ngFor="let row of dailyBalanceDataTable">
    <tr *ngFor="let account of row.rows; let first=first">
      <td>{{account.name}}</td>
      <td class="text-right">{{account.balance}} <b>&#8381;</b></td>
      <td [attr.rowspan]="row.rows.length" *ngIf="first" class="text-right">
        <div class="media-middle">
          {{row.total}} <b>&#8381;</b>
        </div>
      </td>
      <td [attr.rowspan]="row.rows.length" *ngIf="first" class="text-center ">{{row.date | date: 'dd.MM.yyyy'}}</td>
    </tr>
  </ng-container>
  </tbody>
</table>
