.mat-form-field {
  position: relative;
  .input-ruble {
    position: absolute;
    right: 10px;
    bottom: 0;
  }
  .error-block {
    position: absolute;
    top: -5px;
    right: 0;
    z-index: 100;
    cursor: pointer;
    .mat-icon {
      font-size: 15px;
    }
  }
}
