<mat-drawer-container autosize class="height-full">
  <div layout="column" layout-align=" space-around center" class="height-full">
    <div layout="row" layout-align="space-between center">
      <span class="pad-left-sm">{{tableTitle}}</span>
      <div layout="row" layout-align="end center">
        <app-filter-form
          (changeFilter)="filterTable($event)"
        ></app-filter-form>
        <button mat-icon-button>
          <mat-icon matTooltip="Действия" [matMenuTriggerFor]="actions">
            more_horiz
          </mat-icon>
        </button>
        <mat-menu #actions="matMenu">
          <button mat-menu-item (click)="action.action()" *ngFor="let action of actionMenuList">
            {{action.name}}
          </button>
        </mat-menu>
      </div>
    </div>
    <div flex="grow" class="background-white">
      <table mat-table #matFinanceTable [dataSource]="dataSource" class="width-full" *ngIf="recordData.length > 0">
        <ng-container *ngFor="let column of columnsData" [matColumnDef]="column.columnDefinition">
          <th mat-header-cell *matHeaderCellDef>{{column.columnName}}</th>
          <td mat-cell *matCellDef="let element"> {{element.get(column.elementData)}} </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
        <tr mat-row *matRowDef="let row; columns: columnsToDisplay;"
            class="finance-record-row" (click)="openDrawer(row)"></tr>
      </table>
      <div *ngIf="recordData.length === 0" class="mat-body-1 height-full" layout="row" layout-align="center center">
        Записей нет
      </div>
    </div>
    <mat-paginator [pageSizeOptions]="pageSize" showFirstLastButtons></mat-paginator>
  </div>

  <mat-drawer #recordDrawer mode="side" position="end" class="finance-record-data">
    <app-table-edit-form
      *ngIf="openRow"
      [openRow]="openRow"></app-table-edit-form>
  </mat-drawer>

</mat-drawer-container>
