<div class="height-full" layout="column">
  <div flex="none">
    <app-menu [login]="userName"
    ></app-menu>
  </div>
  <mat-drawer-container flex="grow">
    <mat-drawer mode="side" opened>
      <mat-nav-list class="pad-top-none">
        <mat-list-item *ngFor="let item of menu">
          <span matLine>
            <a routerLink="finance">{{item.name}}</a>
          </span>
        </mat-list-item>
      </mat-nav-list>
    </mat-drawer>
    <mat-drawer-content>
      <router-outlet></router-outlet>
    </mat-drawer-content>
  </mat-drawer-container>
</div>
