.finance-record-data {
  width: 30%;
  background: #fff;
}
.finance-record-data-form {
  position: relative;
  padding-bottom: 60px;
}
.bottom-button {
  position: absolute;
  bottom: 10px;
  left: 0;
  right: 0;
}
