<div *ngIf="openRow" class="height-full" layout="column">
  <div layout="row" layout-align="space-between center">
    <h3 class="pad-left-sm">
      Запись от {{openRow.date | date: 'dd.MM.yyyy'}}
      <div class="mat-small">Дата создания: {{openRow.loadDate | date: 'dd.MM.yyyy'}}</div>
    </h3>
    <div>
      <button mat-icon-button *ngIf="editForm.dirty" (click)="resetForm()">
        <mat-icon matTooltip="Отменить изменения">
          undo
        </mat-icon>
      </button>
      <button mat-icon-button
              *ngIf="canEdit(openRow)"
              (click)="deleteFinanceRecord(openRow)" class="pad-right-md">
        <mat-icon>
          delete
        </mat-icon>
      </button>
    </div>
  </div>
  <mat-divider></mat-divider>
  <div flex-grow layout-align="space-between start" class="finance-record-data-form">
    <form [formGroup]="editForm" layout="column" layout-align="center stretch" class="pad-md">
      <mat-form-field>
        <mat-label>Сумма</mat-label>
        <input matInput type="number" [formControl]="editForm.get('amount')" [readonly]="!canEdit(openRow)">
        <span matSuffix><b>&#8381;</b></span>
      </mat-form-field>
      <mat-form-field>
        <mat-label>Счет</mat-label>
        <mat-select [formControl]="editForm.get('account')">
          <mat-option *ngFor="let account of accounts" [value]="account.id">
            {{account.name}}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field>
        <mat-label>Категория</mat-label>
        <mat-select [formControl]="editForm.get('category')">
          <ng-container *ngFor="let category of categories">
            <mat-option [value]="category.id">
              {{category.name}}
            </mat-option>
            <mat-option *ngFor="let child of category.children" [value]="child.id">
              {{child.name}}
            </mat-option>
          </ng-container>

        </mat-select>
      </mat-form-field>
      <mat-form-field>
        <mat-label>Примечание</mat-label>
        <textarea matInput [formControl]="editForm.get('description')" [readonly]="!canEdit(openRow)"></textarea>
      </mat-form-field>
    </form>
    <div class="bottom-button pad-right-sm" layout="row" layout-align="end center">
      <button mat-fab (click)="edit(editForm, openRow)" [disabled]="editForm.invalid || editForm.pristine || !canEdit(openRow)">
        <mat-icon>save</mat-icon>
      </button>
    </div>
  </div>
</div>
