app-main-page, app-admin {
  height: 100%;
}
.tree-invisible {
  display: none;
}

.tree {
  margin-top: 0;
  margin-bottom: 0;
  list-style-type: none;
}

.mat-tree-node {
  min-height: 40px;
}
.mat-nested-tree-node {
  ul {
    margin: 0;
  }
}
